services:
  postgres:
    image: postgres:17
    container_name: spring-boot-library-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: spring_boot_library_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ./spring-boot-library-backend/
      dockerfile: Dockerfile
    container_name: spring-boot-library-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/spring_boot_library_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      - keycloak
      - postgres


    #--------------- KEYCLOAK ---------------#

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    container_name: keycloak
    depends_on:
      - keycloak-db
    ports:
      - "8081:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak_db
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

      KC_HTTP_ENABLED: true
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_STRICT: false
      KC_LOG_LEVEL: error
    volumes:
    - ./keycloak:/opt/keycloak/data/import
    command: start-dev --import-realm
    restart: unless-stopped


  keycloak-db:
    image: postgres:17
    container_name: keycloak-db
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
      POSTGRES_DB: keycloak_db
    volumes:
      - keycloak_postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
  keycloak_postgres_data:
